
.navbar-light .navbar-nav .nav-link, a {
  color: #7757A8;
  font-weight:600;
  text-transform: uppercase;
}
.link-note:hover {
  text-decoration:none;
}
.text-md-left {
  text-transform: uppercase;
}

.text-purple {
  text-transform: uppercase;
  color: #7757A8;
  font-weight:600;
  text-transform: uppercase;
}

.btn-primary, .btn-primary:hover {
  border-color: #7757A8;
  background-color: #7757A8;
  text-transform: uppercase;
}

.btn-secondary {
  text-transform: uppercase;
}

.column-header {
  border-color: #7757A8;
  background-color: #7757A8;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #fff;
  cursor: default;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
